body {
    max-width: 670px;
    margin: 0 20px 0 20px;
}

h1 {
    margin-bottom: 0;
    font-weight: normal;
}
a {
    color: black;
    background: yellow;
    text-decoration: none;
}
a:hover {
    background: #9acd32;
}

h2.subline {
    margin-top: 0;
    font-size: 14px;
    font-weight: normal;
}
h3 {
    font-size: 0.8em;
    margin: 0px;
    /*
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 0px;
    */
}
