/* line 4, ../../sass/standAlone.sass */
body {
  background: black;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
}

/* line 8, ../../sass/standAlone.sass */
h2 {
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 344px;
  height: 40px;
  position: absolute;
  bottom: 152px;
  left: -152px;
  margin: auto;
  padding: 0;
  color: white;
  background: #666666;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 22, ../../sass/standAlone.sass */
h3 {
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  padding: 0;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 172px;
  left: -76px;
  bottom: 75px;
  background: #999999;
  color: white;
}

/* line 34, ../../sass/standAlone.sass */
h3.san {
  background: #333333;
}

/* line 37, ../../sass/standAlone.sass */
.monitor_environment {
  position: relative;
  height: 344px;
  width: 930px;
  float: left;
  margin: 5px;
}
/* line 43, ../../sass/standAlone.sass */
.monitor_environment .monitor_group {
  position: relative;
  margin-left: 40px;
  padding-left: 25px;
  height: 172px;
  background: #222222;
}
/* line 49, ../../sass/standAlone.sass */
.monitor_environment .monitor_group:nth-child(2n) {
  background: #333333;
}
/* line 51, ../../sass/standAlone.sass */
.monitor_environment .monitor_group .monitor_resource {
  padding-top: 5px;
}
/* line 53, ../../sass/standAlone.sass */
.monitor_environment .monitor_group .details {
  display: none;
}
