#{extends 'standAlone.html' /}
#{set title:'Ping Response Times' /}

#{list items:environments, as: 'environment'}
<div class="monitor_environment" data-name="${environment.name}">
    <h2>${environment.name}</h2>
    #{list items:environment.groups, as: 'group'}
        <div class="monitor_group" data-name="${group.name}">
            <h3>${group.name}</h3>
            <div class="monitor_resource graph" data-name="${group.name}">
                <div class="canvas" onclick="window.location='@{details(group.getPrimaryResource().id)}'" style="width:780px;height:120px;" data-resourceid="${group.getPrimaryResource().id}"></div>
            </div>
            #{list items:group.resources, as: 'resource'}
                #{if !resource.is_primary}
                <div class="monitor_resource graph" data-name="${resource.name}" style="float: left">
                    <span class="title"><a href="@{details(resource.id)}" class="details">${resource.name}</a></span>
                    <div class="canvas" onclick="window.location='@{details(resource.id)}'" style="margin-top:3px;width:150px;height:40px;" data-resourceid="${resource.id}"></div>
                </div>
                #{/if}
            #{/list}
            <div style="clear: both;"></div>
        </div>
    #{/list}
</div>
#{/list}



<script type="text/javascript">
$(function () {

    function drawAll() {
        $("div.canvas").each(function (idx) {
            getAndPlotData($(this), $(this).data('resourceid'), null, null, 'R');
        });
    }

    drawAll();
    setInterval(function() {
        // Refresh regularly
        drawAll();
    }, 65000);

});
</script>
